<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Atomic Habits"
        android:theme="@style/Theme.BooxEInk"
        android:supportsRtl="true">

        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BooxEInk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.setup.SetupActivity" android:exported="false" />
        <activity android:name=".ui.dashboard.DashboardActivity" android:exported="false"
            android:theme="@style/Theme.BooxEInk" />

        <receiver android:name=".widget.HabitsWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/habits_widget_info" />
        </receiver>

        <receiver android:name=".widget.TodoWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE" /></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/todo_widget_info" />
        </receiver>

    </application>
</manifest>